:root {
    --sidebar-bg: #F0E2D7;
    --body-bg: #F0E2D7;
    --sidebar-menu-active-item-color: #FAFCFC;
    --sidebar-menu-active-item-bg: #A6A89A;
    --content-top-border-color: #FAFCFC;
    --table-cell-border-color: #FAFCFC;
    --sidebar-border-color: #FAFCFC;
    --color-primary: #A6A89A;
    --sidebar-menu-icon-color: #51504B;
}

.page-item.active .page-link {
    background-color: #51504B;
    border-color: #51504B;
}

.form-check-input:checked {
    background-color: #A6A89A;
}

#main {
    margin-bottom: 250px;
}

body {
    background-color: #F0E2D7;
    font-family: Montserrat;
    font-weight: bold;
}

h1, h2, .form {
    text-align: center;
}

h1 {
    margin-top: 40px;
}

div {
    margin-top: 15px;
}

form label {
    margin-right: 20px;
}

form div:nth-of-type(3) label {
    margin-right: 50px;
}

button {
    margin-top: 20px;
}