{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}
        LASH Admin Page
{% endblock %}

{% block main %}
        <h2>Welcome to the LASH Admin Panel</h2>
        <h2>Click on an item in the navigation bar to start.</h2>
{% endblock %}